/* ========== WORKMEN ========== */
.workmen {
  padding: 10px 0 85px;
  background-color: $white;
  .h1 {
    text-transform: inherit;
  }
}



/* ========== WORKMEN MEDIA ========== */
@include media-breakpoint-down(sm) {
  .workmen {
    padding-bottom: 50px;
  }
}