/* ========== HEADER ========== */

// HEADER TOP
.header__top {
  background-color: #eaeaea;
}

.header__top_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.header__top_left {
  i {
    color: $main;
  }
}

.header__top_left_text {
  padding: 0 3px 0 5px;
  font-size: 14px;
}

.header__top_right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__top_right_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }
}

.header__top_right_item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  color: $main;
}

.header__top_right_item_link {
  font-size: 14px;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $main;
  }
}

// HEADER MID
.header__mid {
  padding: 15px 0;
  background-color: $white;
}

.header__mid_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mid_phone_link {
  font-size: 26px;
  color: $main;
  line-height: 1.46;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.header__mid_btn {
  .btn {
    width: 171px;
    height: 37px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__mid_info_work {
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px dashed #b4b4b4;
  font-size: 14px;
}

.header__mid_info_mail_link {
  font-size: 19px;
  letter-spacing: 0.35px;

  &:hover {
    .link {
      color: $blue;

      &:before {
        border-color: $blue;
      }
    }
  }

}

.header__mid_info_mail_link_icon {
  margin-right: 8px;
}

.header__mid_basket_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 63px;
  padding: 0 15px;
  border-radius: 8px;
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $main;
    color: $white;
  }
}

.header__mid_basket_link_content_box {
  display: block;
  line-height: 1.4;
}

.header__mid_basket_link_icon {
  margin-right: 15px;
}

.header__mid_basket_link_content_text {
  font-size: 14px;
  line-height: 1;
}

.header__mid_basket_link_content_price {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

// HEADER BOT
.header__bot {
  background-color: $main;
}

.header__bot_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
}

.header__bot_catalog {
  position: relative;
  width: 265px;
  height: 100%;
  background-color: $blue;
  //z-index: 3000;
}

.header__bot_catalog_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 17px;
  color: $white;
  text-transform: uppercase;

  &:hover {
    color: $white;
  }

}

.header__bot_catalog_link_icon {
  display: block;
  margin-right: 15px;
}

.header__bot_catalog_list {
  position: relative;
  //position: absolute;
  //left: 0;
  //top: 46px;
  //width: 100%;
  //margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(224, 224, 224, 0.75);
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  background-color: $white;
  z-index: 3000;
  //display: none;
}

.header__bot_navigation_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__bot_catalog_list_item {
  position: relative;
  border-bottom: 1px solid #e7e7e7;

  &:last-child {
    border: none;
  }
}

.header__bot_catalog_list_item_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 15px;
  color: $black;

  &:hover {
    background-color: $orange;
    color: $white;
  }

  &.active {
    background-color: $orange;
    font-weight: 500;
    color: $white;
  }

  i {
    margin-left: 15px;
  }
}

.header__bot_catalog_list_item_content {
  position: absolute;
  top: 0;
  left: 100%;
  width: 265px;
  padding: 36px 20px 15px;
  box-shadow: 3px 2px 11px 2px rgba(179, 178, 179, 0.79);
  background-color: #f7f7f7;
  display: none;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: $orange;
  }
}

.header__bot_catalog_list_item_content_title {
  position: relative;
  padding: 0 10px;
  font-weight: 500;
  font-size: 17px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: $blue;
  }
}

.header__bot_catalog_list_item_content_list {
  padding: 15px 0 10px;
}

.header__bot_catalog_list_item_content_list_item_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 15px;
  color: $black;

  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.header__bot_navigation_list_item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.header__bot_navigation_list_item_link {
  position: relative;
  font-weight: bold;
  color: $white;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: $white;
    opacity: 0;
    transition: .3s;
  }

  &:hover {
    color: $white;

    &:before {
      opacity: 1;
    }
  }
}

.header__bot_search {
  width: 375px;
  height: 36px;
}



/* ========== HEADER MEDIA ========== */
@include media-breakpoint-down(lg) {
  .header__mid_btn {
    display: none;
  }
  .header__bot_catalog {
    display: none;
  }
}
@include media-breakpoint-down(md) {
  .header__mid_phone_link {
    font-size: 20px;
  }
  .header__mid_info {
    display: none;
  }
  .header__bot_navigation_list_item_link {
    font-size: 14px;
  }
  .header__bot_search {
    width: 200px;
  }
}
@include media-breakpoint-down(sm) {
  .header__mid_phone {
    display: none;
  }
  .header__bot_navigation {
    width: 100%;
  }
  .header__bot_navigation_list {
    justify-content: space-between;
  }
  .header__bot_search {
    display: none;
  }
}
@include media-breakpoint-down(xs) {
  .header__top {
    display: none;
  }
  .header__mid {
    padding: 5px 0;
  }
  .header__mid_logo {
    width: 150px;
  }
  .header__mid_basket {
    display: none;
  }
  .header__bot {
    display: none;
  }
}