/* ========== HEADER ========== */

// HEADER TOP
.header__top {
  background-color: #eaeaea;
}

.header__top_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.header__top_left {
  i {
    color: $main;
  }
}

.header__top_left_text {
  padding: 0 3px 0 5px;
  font-size: 14px;
}

.header__top_right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__top_right_item {
  margin-right: 22px;
  &:last-child {
    margin-right: 0;
  }
}
.header__top_right_item_link {
  font-size: 14px;
  &:hover {
    text-decoration: none;
    i {
      color: $blue;
    }
    span {
      color: $blue;
    }
  }
  i {
    margin-right: 3px;
    color: $main;
    transition: .3s;
  }
  span {
    color: $black;
    transition: .3s;
  }
}

// HEADER MID
.header__mid {
  padding: 15px 0;
}

.header__mid_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mid_phone_link {
  font-size: 26px;
  color: $main;
  line-height: 1.46;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.header__mid_info_work {
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px dashed #b4b4b4;
  font-size: 14px;
}

.header__mid_info_mail_link {
  font-size: 19px;
  letter-spacing: 0.35px;
  &:hover {
    .link {
      color: $blue;
      &:before {
        border-color: $blue;
      }
    }
  }
  i {
    margin-right: 8px;
    color: $blue;
  }
}

.header__mid_basket_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-radius: 8px;
  background-color: $blue;
  color: $white;
  &:hover {
    background-color: $main;
    color: $white;
  }
}

.header__mid_basket_link_content_box {
  display: block;
  line-height: 1.4;
}

.header__mid_basket_link_icon {
  margin-right: 15px;
  font-size: 43px;
}

.header__mid_basket_link_content_text {
  font-size: 14px;
  line-height: 1;
}

.header__mid_basket_link_content_price {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

// HEADER BOT
.header__bot {
  background-color: $main;
}

.header__bot_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
}

.header__bot_catalog {
  width: 265px;
  height: 100%;
  background-color: $blue;
}

.header__bot_catalog_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 17px;
  color: $white;
  text-transform: uppercase;
  &:hover {
    color: $white;
  }
  i {
    margin-right: 15px;
  }
}

.header__bot_navigation_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__bot_navigation_list_item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.header__bot_navigation_list_item_link {
  position: relative;
  font-weight: bold;
  color: $white;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: $white;
    opacity: 0;
    transition: .3s;
  }
  &:hover {
    color: $white;
    &:before {
      opacity: 1;
    }
  }
}

.header__bot_search {
  width: 375px;
  height: 36px;
}