.sidebar__check_list {}

// Sidebar Sizes
.sidebar__sizes {
  max-height: 256px;
  overflow-y: auto;
}

// Sidebar Styles
.sidebar__styles {
  max-height: 256px;
  overflow-y: auto;
}

// Sidebar Manufacturers
.sidebar__manufacturers {
  max-height: 256px;
  overflow-y: auto;
}

// Sidebar Types
.sidebar__types {
  max-height: 256px;
  overflow-y: auto;
}