.viewed-products {
  padding: 30px 0;
}

.viewed-products__slider {
  margin-top: 40px;
  padding: 0 15px;
  .slick-list {
    padding: 10px 5px;
  }
  .slick-prev {
    left: -5px;
  }
  .slick-next {
    right: -5px;
  }
}

.viewed-products__slider_item {
  position: relative;
  padding: 0 5px;
  &:hover {
    .catalog__list_item_watch {
      opacity: 1;
    }
  }
  .catalog__list_item {
    &:hover {
      box-shadow: 0 5px 10px rgba(179, 178, 179, 0.75);
    }
  }
}



/* ========== VIEWED PRODUCTS MEDIA ========== */
@include media-breakpoint-down(md) {
  .viewed-products__slider {
    padding: 0;
  }
}