/* ========== NAVIGATION MOBILE ========== */
.navigation {
  position: relative;
  z-index: 3000;
}

.navigation__list {
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(224, 224, 224, 0.75);
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  background-color: $white;
  z-index: 3000;
}

.header__bot_navigation_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation__list_item {
  position: relative;
  border-bottom: 1px solid #e7e7e7;

  &:last-child {
    border: none;
  }
}

.navigation__list_item_icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  cursor: pointer;
  &.active {
    i {
      transform: rotate(90deg);
    }
  }
  i {
    transition: .3s;
  }
}

.navigation__list_item_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 15px;
  color: $black;

  &:hover {
    background-color: $orange;
    color: $white;
  }

  &.active {
    background-color: $orange;
    font-weight: 500;
    color: $white;
    i {
      transform: rotate(90deg);
    }
  }

  i {
    margin-left: 15px;
    transition: .3s;
  }
}

.navigation__list_item_content, .navigation__list_item_sub_content, .navigation__list_item_sub2_content {
  padding: 15px 20px;
  background-color: $white;
  display: none;
  .navigation__list_item_content {
    .navigation__list_item_content_list_item_link {
      font-size: 14px;
    }
  }
}

.navigation__list_item_content_list_item {
  position: relative;
}

.navigation__list_item_sub2_content_list_item {
  position: relative;
}

.navigation__list_item_content_list_item_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 15px;
  color: $black;

  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.navigation__color_list_item {
  margin-bottom: 5px;
}

.navigation__color_list_item_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:hover {
    .sidebar__colors_icon {
      border: 2px solid $blue;
    }
    .navigation__color_list_item_link_label {
      color: $blue;
    }
  }
}

.navigation__color_list_item_link_label {
  color: $black;
}



/* ========== NAVIGATION DESKTOP ========== */
.navigation-desktop {
  .navigation__list_item {
    &:hover {
      .navigation__list_item_content {
        display: block;
      }
    }
  }
  .navigation__list_item_content {
    position: absolute;
    top: -1px;
    right: 0;
    transform: translateX(100%);
    width: 265px;
    padding: 0;
    border: 1px solid #e7e7e7;
  }
  .navigation__list_item_content_list_item {
    border-bottom: 1px solid #e7e7e7;
    &:hover {
      .navigation__list_item_sub_content {
        display: block;
      }
    }
    &:last-child {
      border: none;
    }
  }
  .navigation__list_item_sub2_content_list_item {
    border-bottom: 1px solid #e7e7e7;
    &:hover {
      .navigation__list_item_sub2_content {
        display: block;
      }
    }
    &:last-child {
      border: none;
    }
  }
  .navigation__list_item_sub_content {
    position: absolute;
    top: -1px;
    right: 0;
    transform: translateX(100%);
    width: 265px;
    padding: 0;
    border: 1px solid #e7e7e7;
  }
  .navigation__list_item_sub2_content {
    position: absolute;
    top: -1px;
    right: 0;
    transform: translateX(100%);
    width: 265px;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: $white;
  }
  .navigation__color_list {
    padding: 5px;
  }
}



/* ========== NAVIGATION MEDIA ========== */
@include media-breakpoint-down(lg) {
  .navigation-desktop {
    display: none !important;
  }
}

@include media-breakpoint-up(xl) {
  .navigation {
    display: none !important;
  }
}