/* ========== BASKET ========== */
.basket {
  padding: 10px 0 85px;
  .h1 {
    text-transform: inherit;
  }
}
.basket__form {
  margin-top: 20px;
}

.basket__form_example {
  margin-top: 5px;
  padding-left: 15px;
  font-size: 14px;
  color: #232323;
}

/* ========== BASKET MEDIA ========== */
@include media-breakpoint-down(sm) {
  .basket {
    padding-bottom: 50px;
  }
}

@import "basket-list/basket-list";