/* ========== COMMODITY ========== */
.commodity {
  padding: 15px;
  border: 1px solid #e7e7e7;
  background-color: $white;
  .h5 {
    margin-bottom: 0;
  }
}

.commodity__grid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: minmax(0,1fr) minmax(0,115px);
  -ms-grid-columns: minmax(0,1fr) minmax(0,115px);
}

.commodity__grid_right {
  -ms-grid-column: 2;
  padding-left: 15px;
}

.commodity__grid-2 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: minmax(0,1fr) minmax(0,115px);
  -ms-grid-columns: minmax(0,1fr) minmax(0,115px);
}

.commodity__grid-2_left {
  -ms-grid-column: 1;
}

.commodity__grid-2_right {
  -ms-grid-column: 2;
  padding-left: 15px;
}

.commodity__slider {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  .commodity__slider_item {
    display: flex !important;
    img {
      max-width: 255px;
      max-height: 450px;
    }
  }
}

.commodity__slider_item {
  align-items: center;
  justify-content: center;
}

.commodity__slider_2 {
  .commodity__slider_item {
    display: none;
    &.active {
      display: flex;
    }
  }
}

.commodity__slider_2_block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
}

.commodity__slider_2_img {
  margin-right: 20px;
}

.commodity__warning {
  margin: 30px 0;
  text-align: center;
  line-height: 1.2;
}

.commodity__slider_small {
  padding: 0 15px;
  .slick-arrow {
    width: 10px;
    height: 30px;
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: transparent;
    &:before {
      display: none;
    }
  }
  .slick-prev {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='30' viewBox='0 0 10 30'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23e5e5e5' d='M9.144 0l.85 1.39v.053l-8.277 13.53.007.053 8.27 13.54-.006.043L9.151 30h-.007c-.031-.149-.463-.787-.558-.923-.499-.712-.908-1.592-1.409-2.303L2.16 18.55c-.565-.82-1.048-1.787-1.604-2.621-.086-.13-.547-.814-.558-.955l6.576-10.76c.284-.404.532-.874.799-1.306.35-.566.712-1.116 1.045-1.709.178-.315.385-.588.558-.912.05-.092.143-.162.17-.287z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .slick-next {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='30' viewBox='0 0 10 30'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23e5e5e5' d='M.855 0l-.85 1.39v.053l8.277 13.53-.006.053-8.271 13.54.006.043L.85 30h.006c.031-.149.464-.787.558-.923.499-.712.909-1.592 1.41-2.303L7.84 18.55c.564-.82 1.047-1.787 1.603-2.621.087-.13.547-.814.559-.955L3.426 4.213c-.283-.404-.532-.874-.798-1.306-.35-.566-.712-1.116-1.046-1.709C1.404.883 1.198.61 1.024.286.974.194.88.124.855-.001z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .slick-current {
    .commodity__slider_small_item_box {
      border-color: $blue;
    }
  }
}

.commodity__slider_small_item {
  padding: 0 15px;
}

.commodity__slider_small_item_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
}

.commodity__advertising {
  display: block;
  margin: 30px 0;
}

.commodity__networks {
  display: flex;
  align-items: center;
  justify-content: center;
  .h5 {
    margin-bottom: 0;
  }
}

.commodity__title {
  font-size: 26px;
}

.commodity__prices_old {
  font-weight: 500;
  font-size: 26px;
  color: #c9c9c9;
  line-height: 1.2;
}

.commodity__prices_new {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2;
}

.commodity__desc {
  font-weight: 300;
  font-size: 14px;
  color: #565555;
}

.commodity__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
}

.commodity__input {
  width: 105px;
  height: 32px;
  margin-right: 30px;
  box-shadow: inset 2px 3px 3px rgba(200, 198, 198, 0.75);
  border-radius: 11px;
  background-color: #f5f5f5;
  text-align: center;
}

.commodity__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 48px;
  margin-right: 15px;
  padding: 0 25px;
  box-shadow: 0 0 9px 1px rgba(179, 178, 179, 0.75);
  border-radius: 15px;
  border: 2px solid $white;
  font-size: 16px;
  color: $white;
  line-height: 1;
  transition: .3s;
  &:focus {
    outline: none;
  }
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 25px;
    margin-right: 10px;
  }
}

.commodity__btn_basket {
  background-color: #2783b0;
  &:hover {
    background-color: $main;
  }
}

.commodity__btn_click {
  background-color: $orange;
  &:hover {
    background-color: #d94003;
  }
}

.commodity__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.commodity__info_stock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 60px;
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
  i {
    margin-right: 8px;
    font-size: 20px;
    color: #9dcc41;
  }
}

.commodity__info_article {
  margin-right: 60px;
}

.commodity__info_check {
  color: $black;
  white-space: nowrap;
  &:hover {
    color: $blue;
    text-decoration: none;
    i {
      color: $black;
    }
  }
  i {
    color: $black;
  }
}

.commodity__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
}

.commodity__icons_title {
  margin-right: 10px;
}

.commodity__icons_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.commodity__icons_list_item {
  margin-right: 10px;
  input {
    width: 0;
    height: 0;
  }
  input:checked ~ label {
    border: 2px solid $blue;
  }
  label {
    position: relative;
    display: block;
    width: 37px;
    height: 37px;
    margin-bottom: 0;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 37px;
      height: 37px;
      max-width: 37px;
    }
  }
}

.commodity__size_list {
  margin-top: 10px;
  &.custom-scrollbar {
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .custom-control-label {
    font-size: 14px;
    &:before {
      top: 0.15rem;
    }
    &:after {
      top: 0.15rem;
    }
  }
}

.commodity__set_list {
  margin-top: 10px;
  .custom-control-label {
    font-size: 14px;
    &:before {
      top: 0.15rem;
    }
    &:after {
      top: 0.15rem;
    }
  }
}

.commodity__add {
  margin-top: 30px;
  .basket__list_item {
    position: relative;
    grid-template-columns: 100px 2fr 1fr 1fr 1fr 135px;
    -ms-grid-columns: 100px 2fr 1fr 1fr 1fr 135px;
    padding: 5px 0;
    &:first-child {
      padding: 12px 0;
    }
    &:last-child {
      border-bottom: 2px dotted #dfdfdf;
    }
    &.hide {
      display: none;
    }
  }
  .catalog__list_item_btn {
    margin-top: 0;
    .btn {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.commodity__add_title {
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 0 15px;
  background-color: $orange;
  color: $white;
  text-align: center;
}

.commodity__add_link {
  margin-top: 5px;
  font-weight: 500;
  font-size: 13px;
  text-align: right;
}

.commodity__doors {
  margin-top: 10px;
}

.commodity__doors_item {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border-radius: 4px;
  img {
    border: 1px solid transparent;
  }
  &.active {
    img {
      border-color: $blue;
    }
  }
}

.commodity__doors_mobile {
  display: none;
}

/* ========== COMMODITY MEDIA ========== */
@include media-breakpoint-down(lg) {
  .commodity__grid {
    grid-template-columns: minmax(0,1fr);
    -ms-grid-columns: minmax(0,1fr);
  }
  .commodity__grid_right {
    margin-top: 1em;
    padding-left: 0;
  }
  .commodity__grid-2 {
    grid-template-columns: minmax(0,1fr);
    -ms-grid-columns: minmax(0,1fr);
  }
  .commodity__btn {
    width: 230px;
  }
  .commodity__add {
    .basket__list_item {
      grid-template-columns: 80px 2fr 1fr 90px 1fr 115px;
      -ms-grid-columns: 80px 2fr 1fr 90px 1fr 115px;
    }
    .dpui-numberPicker-input {
      width: 50px;
      padding: 0 2px;
      font-size: 14px;
    }
    .catalog__list_item_btn {
      .btn {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        i {
          margin-right: 5px;
        }
      }
    }
    .basket__list_item_name_title {
      font-size: 12px;
    }
    .basket__list_item_price {
      font-size: 14px;
    }
    .basket__list_item_sum {
      font-size: 14px;
    }
  }
}
@include media-breakpoint-down(md) {
  .commodity__advertising {
    display: none;
  }
  .commodity__networks {
    margin-top: 25px;
  }
  .commodity__title {
    margin-top: 30px;
  }
  .commodity__btn {
    width: 250px;
  }
}
@include media-breakpoint-down(sm) {
  .commodity__info_stock {
    margin-right: 30px;
  }
  .commodity__info_article {
    margin-right: 30px;
  }
  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .commodity__buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .commodity__btn {
    width: 250px;
    margin: 10px auto 0;
    &:last-child {
      margin-right: auto;
    }
  }
  .commodity__add {
    .basket__list_item_img {
      grid-area: img;
    }
    .basket__list_item_name {
      grid-area: name;
    }
    .basket__list_item_price {
      grid-area: price;
    }
    .basket__list_item_count {
      grid-area: count;
    }
    .basket__list_item_sum {
      grid-area: sum;
    }
    .catalog__list_item_btn {
      grid-area: btn;
    }
    .basket__list_item {
      grid-template-columns: 80px 1fr 1fr 115px;
      grid-template-areas:
              'img name name name'
              'price count sum btn';
      &:first-child {
        display: none;
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .commodity__prices {
    text-align: center;
  }
  .commodity__title {
    text-align: center;
  }
  .commodity__desc {
    text-align: center;
  }
  .commodity__info {
    flex-wrap: wrap;
  }
  .commodity__info_article {
    width: 100%;
    margin-top: 10px;
  }
  .commodity__info_check {
    margin-top: 5px;
  }
  .commodity__add_list {
    margin-top: 1em;
  }
  .commodity__doors {
    display: none;
  }
  .commodity__doors_mobile {
    display: block;
  }
  body > div.product > div > div.commodity > div > div.commodity__grid_left > div > div.col-lg-8 > div.row.mt-3.align-items-center > div.col-auto {
    width: 100%;
    text-align: center;
  }
  .product .tab-content {
    text-align: center;
  }
  body > div.product > div > div.viewed-products > div > h3 {
    margin-bottom: 0;
    text-align: center;
    &:before {
      display: none;
    }
  }
  body > div.product > div > div.viewed-products > div > ul {
    margin-top: 1em;
  }
  .commodity__add {
    .basket__list_item {
      grid-template-columns: 80px 1fr 1fr;
      grid-template-areas:
              'img name name'
              'price count sum'
              '. . btn';
    }
    .catalog__list_item_btn {
      margin-top: 10px;
    }
  }
}

@media (max-width: 400px) {
  .commodity__add {
    .basket__list_item {
      grid-template-columns: 80px 1fr 1fr;
      place-items: normal;
      grid-template-areas:
              'img name name'
              'price count sum'
              'btn btn btn'
    }
  }
}

@import "accessories/accessories";