/* ========== PRODUCT ========== */
.product {
  padding-top: 10px;
  .tab-content {
    padding: 30px 15px 15px;
    background-color: $white;
    p {
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@import "card/card";
@import "card/card-4";