.pagination__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0 30px;
}

.page-item {
  margin-right: 10px;
  &:first-child {
    margin-left: 0;
    .page-link {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }
  &:last-child {
    margin-right: 0;
    .page-link {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  &.active {
    .page-link {
      background-color: #0083d1;
      color: $white;
    }
  }
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: #d5d6d7;
  color: $black;
  &:hover {
    background-color: #0083d1;
    color: $white;
  }
}

.pagination-navigation {
  width: auto;
  padding: 0 15px;
  border-radius: 15px;
  border: 1px solid #b4b3b3;
  background-color: $white;
  font-size: 14px;
  &:hover {
    border-color: #0083d1;
    background-color: #0083d1;
    color: $white;
  }
}



/* ========== PAGINATION MEDIA ========== */
@media (max-width: 400px) {
  .page-item {
    margin-right: 5px;
  }
  .page-link {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
  .pagination-navigation {
    width: auto;
    padding: 0 10px;
  }
}