/* ========== DELIVERY ========== */
.delivery {
  padding: 10px 0 85px;
  background-color: $white;
  .h1 {
    text-transform: inherit;
  }
}

/* ========== DELIVERY MEDIA ========== */
@include media-breakpoint-down(sm) {
  .delivery {
    padding-bottom: 50px;
  }
}